$tabs-height: 35px;
$tabs-padding: 20px;
$tabs-indicator-height: calc($tabs-height - ($tabs-padding * 2));
$tabs-transition: all 0.2s ease-in-out;

.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tabs--list,
.tabs--trigger,
.tabs--indicator {
  box-sizing: border-box;
}

.tabs--list {
  position: relative;
  display: flex;
  height: $tabs-height;
  padding: 0 20px;
  background-color: #fff;
}

.tabs--trigger {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 8px;

  &[data-state="inactive"] {
  }

  &[data-state="active"] {
  }
}

.tabs--indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #3a8dff;
  transition: $tabs-transition;
  z-index: 0;
}
